/* DaliosCSS */
#page-header {
/*    background-color: whitesmoke; */
    background-image:  url(../theme/formal_white/pix/bg/paper/paper.png);
    border: 1px solid lightgrey;
    position: relative;
    box-sizing: border-box;
}

#headerlogo img {
    float: left;
    padding: 10px;
}
#ttvam-title {
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    padding-top: 15px;
    padding-left: 90px;
    font-weight: bold;
    color: #00397C;
    /*color: hsl(228, 40%, 30%);*/
}
.navbar {
   /* background-color: hsl(149, 255, 124);*/
    background-color: #00397C;
    background-image: none;
}
.block .header .title .commands {
    background-image: url(../theme/formal_white/pix/bg/paper/paper.png);
}
.block .header h2 {
    color: #910808;
    font-size: 100%;
    text-transform: uppercase;
    background-image: url(../theme/formal_white/pix/bg/dark_paper/dark_paper2.jpg);
}
.block .content {
    background-image: url(../theme/formal_white/pix/bg/paper/paper.png);
}

th.header,
.formtable tbody th,
.generalbox th,
.generaltable th.header {
    background-image: url(../theme/formal_white/pix/bg/white_bed_sheet/white_bed_sheet.png);
    background-repeat: repeat;
}
a:link, a:hover, a:visited {
    color: #00397C;
/*    color: hsl(149, 255, 124);*/
}
.categorylist .category a {
    text-transform: uppercase;
}
.categorylist .category .indentation a {
    text-transform: none;
}
.categorybox .category {
    font-size: 1.1em;
    font-weight: bold;
}
ul.topics .section span.commands {
    right: auto;
}
div.generalbox table,
div.generalbox tr,
div.generalbox td {
    border: 1px solid black;
    padding: 6px;
    border-collapse: collapse;
}
.headerimage {
/*    background-image: url(../theme/formal_white/pix/students_in_library.jpg); */
    background-image: url(../theme/formal_white/pix/students_in_library.jpg);
    background-position-y: 40%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 108px;
    left: 320px;
    right: 250px;
    position:absolute;
}
.headerlogo {
    position:absolute;
}
.frontpage-header .logininfo {
    width: 160px;
}
h1.headerheading {
    color: darkRed;
}
.block .header .block_action {
    margin-top: 0;
}
.langmenu {
    display: none;
}
.frontpage-header .langmenu {
    display: block;
}
.block .block-hider-show,
.block .block-hider-hide {
    background-color: whiteSmoke;
}

.forumpost .row .topic {
    background-image: url(../theme/formal_white/pix/bg/paper/paper.png);
}
div.generalbox .categoryquestionscontainer table,
div.generalbox .categoryquestionscontainer tr,
div.generalbox .categoryquestionscontainer td,
div.generalbox .mceToolbar table,
div.generalbox .mceToolbar tr,
div.generalbox .mceToolbar td {
    border: none;
    padding: 0;
}
